/* --------------------------------------------Global styles */
body {
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
}

/* To create a consistent look across all boxes */
.rounded-border {
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* To create a consistent theme for buttons or highlighted text */
.red-button {
    background-color: rgba(126, 18, 18, 1);
    color: white;
    padding: 10px;
    border-radius: 10px;
    border-color: white;
}

a {
    text-decoration: none;
}

/* --------------------------------------------Colours */
.blue-bg-color {
    background-color: #8fa7e3;
}

.dgrey-bg-color {
    background-color: #373B4E;
}

.light-grey-bg-color {
    background-color: #B1B8C5;
}

/* --------------------------------------------Navbar */
.nav-link {
    color: #B1B8C5;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: -10px;
    text-transform: uppercase;
}

.dropdown-menu,
.dropdown-item {
    background-color: #373B4E;
    color: #B1B8C5;
    font-weight: 600;
    font-size: 20px;
    border: none;
}

.active a {
    color: antiquewhite;
    font-size: x-large;
}

/* --------------------------------------------Footer */

footer {
    color: #B1B8C5;
}

footer a {
    color: inherit;
}

.fb-icon {
    padding: 20px;
    font-size: 30px;
}

/* For the very smallest screens, smaller font to stop contact details being pushed underneath */
@media only screen and (max-width: 360px) {
    footer {
        font-size: smaller;
    }
}


/* --------------------------------------------Banners */
.banner {
    margin-top: 30px;
    height: 150px;
    margin-bottom: 30px;
}

.banner-heading {
    color: #B1B8C5;
    font-weight: 100;
    padding: 20px;
}


/* --------------------------------------------Hero image-home page*/

.hero-container {
    position: relative;
    display: flex;
    justify-content: center;
    max-height: 80vh;
}

.hero-title-horizontal {
    position: absolute;
    width: 90%;
    margin-top: 10px;
}

.hero-title-vertical {
    position: absolute;
    margin-top: 20px;
    max-height: 85%;
}

/* To ensure information underneath hero is seen for scrollability and quick access to contact details page */
#hero-larger-screens,
#hero-smaller-screens {
    object-fit: cover;
}

@media only screen and (max-width: 991px) {

    #hero-larger-screens,
    .hero-title-horizontal {
        display: none;
    }
}

@media only screen and (min-width: 992px) {

    #hero-smaller-screens,
    .hero-title-vertical {
        display: none;
    }
}

/* --------------------------------------------Primary info-home page*/

.primary-info-container {
    display: flex;
    justify-content: center;

}

.primary-info-wrapper {
    background-color: white;
    box-shadow: 0 0 10px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 90%;
    max-width: 900px;
    margin-top: 30px;
}

.primary-info-wrapper h1 {
    text-transform: uppercase;
}

.primary-info-wrapper a {
    text-align: center;
}

/* --------------------------------------------Home page services*/
.services-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
}

.services-intro {
    max-width: 450px;
    margin: 20px auto 0;
    font-weight: 500;
}

.services-info {
    border: solid rgba(126, 18, 18, 1);
    background-color: white;
    border-width: 6px;
    /* To ensure the text appears center (without icons) */
    padding-left: 40px;
    padding-right: 65px;
}

.services-info h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

#services-list {
    font-size: 18px
}

#services-list i {
    font-size: 40px;
    color: rgba(126, 18, 18, 1);
    align-self: center;
    margin-right: 20px;
}

.list-items {
    display: flex;
    margin-bottom: 20px;
}

@media only screen and (max-width: 470px) {
    #services-list i {
        font-size: 30px;
    }

    .services-info {
        padding-left: 10px;
        padding-right: 30px;
    }
}

/* --------------------------------------------Home page testimonials*/
@media only screen and (max-width: 768px) {
    #testimonials-lg {
        display: none;
    }

    .carousel {
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 769px) {
    .carousel {
        display: none;
    }

    .quote {
        width: 340px;
    }
}

.quote-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 0 auto 30px;
}

.quote {
    color: #122452;
    min-height: 310px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 30px;
    margin: 10px;
}

.testimonials figcaption {
    color: #122452;
    margin: 0;
}

/* --------------------------------------------Contact page */
.contact-box-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-boxes {
    margin: 5px;
    max-width: 270px;
    min-width: 270px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid #B1B8C5;
}

.contact-boxes i {
    font-size: 30px;
    margin-top: 10px;
}

.contact-boxes p {
    font-size: 18px;
    margin-top: 10px;
}

.contact-boxes a {
    color: inherit;
}

/* To make this button look more clickable than the other contact details */
.fb-button {
    border-bottom: solid;
    border-right: solid;
    border-color: #B1B8C5;
    border-width: 6px;
}

/* --------------------------------------------Contact page form*/
input[type=text],
input[type=email] {
    width: 200px;
    padding: 5px;
    margin: 8px 0;
    /* This includes the padding and border in the total size of the box */
    box-sizing: border-box;
}

input[type=textarea] {
    max-width: 768px;
    height: 200px;
    padding: 5px;
    margin: 8px;
}

.form-wrapper {
    padding: 30px;
    max-width: 768px;
    margin: 0 auto;
    box-shadow: 0 0 10px;
}


.checkbox {
    margin-right: 10px;
}

.form-button {
    max-width: 236px;
    margin: 0 auto;
}

#description {
    height: 150px;
    margin: 5px auto 15px;
}

label {
    display: block;
}

#address-wrapper {
    margin: 30px auto 10px;
}

#address-wrapper p {
    font-size: 20px;
}

#address-wrapper i {
    color: rgba(126, 18, 18, 1);
    font-size: 35px;
}

#map-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    box-shadow: 0 0 10px;
    max-width: 800px;
}

@media only screen and (max-width: 800px) {
    #map-wrapper {
        width: 90%;
    }
}

/* --------------------------------------------Services page*/

table {
    margin: auto 0;
    background-color: white;
}

th,
td {
    border-bottom: 1px solid;
    padding: 5px;
}

tr:hover {
    background-color: rgba(126, 18, 18, 1);
    color: white;
}

.table-wrapper {
    border: solid #B1B8C5 5px;
    max-width: 400px;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: white;
}

#services-hero {
    background-image: url(../images/guitar-heads.jpg);
    background-repeat: none;
    background-size: cover;
}

@media only screen and (max-width: 576px) {
    #services-hero {
        height: 50vh;
    }
}

@media only screen and (min-width:576px) {
    #services-hero {
        height: 75vh;
    }
}

#action-banner {
    margin-bottom: 0;
}

#fix-vid {
    width: 90%;
    max-width: 820px;
    box-shadow: 0 0 11px 4px;
    border-radius: 10px;
}

#fix-vid-wrapper {
    display: flex;
    justify-content: center;
    /* advice taken from https://stackoverflow.com/questions/38078957/can-we-define-min-margin-and-max-margin-max-padding-and-min-padding-in-css for impleneting min and max padding */
    padding-top: min(10%, 50px);
    padding-bottom: min(10%, 50px);
}

.card {
    width: 250px;
    margin: 10px;
    /* credit: advice taken to ensure cards don't "snap back" after hover disappears https://stackoverflow.com/questions/54948759/css-animation-on-hover-snaps-back-to-default-size-after-hovering-away */
    -webkit-transition: transform 0.8s ease-out;
    -moz-transition: transform 0.8s ease-out;
    -ms-transition: transform 0.8s ease-out;
    -o-transition: transform 0.8s ease-out;
    transition: transform 0.8s ease-out;
}

.images-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 30px auto;
}

.card:hover,
.card:active {
    z-index: 1;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: transform 0.8s ease-in;
    -moz-transition: transform 0.8s ease-in;
    -ms-transition: transform 0.8s ease-in;
    -o-transition: transform 0.8s ease-in;
    transition: transform 0.8s ease-in;
    /* credit: code taken and adapted from: https://stackoverflow.com/questions/9724035/how-can-one-create-an-overlay-in-css */
    box-shadow: inset 0px 0px 0 1000px rgba(0, 0, 0, 0.5);
}

/* --------------------------------------------Error page*/
.error-page {
    width: 100vw;
    height: 90vh;
    background-image: url(../images/fire-guitar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-msg {
    color: white;
    background-color: rgba(143, 167, 227, 0.9);
    width: 80%;
    max-width: 600px;
    padding: 30px;
    text-align: center;
}