
/* --------------------------------------------Global styles */
body {
    font-family: 'Dosis', sans-serif;
    }
/* To create a consistent look across all boxes */
.rounded-border {
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}
/* To create a consistent theme for buttons or highlighted text */
.red-button {
    background-color: rgba(126, 18, 18, 1);
    color:white;
    padding: 10px;
    border-radius: 10px;
    border-color: white;
}

.media-overflow-hidden{
    overflow: hidden; 
  }

.blue-bg-color {
    background-color: #8fa7e3;
}

/* --------------------------------------------Navbar */
.navbar-bg-color {
    background-color: #373B4E;
}

.navbar a {
    color: #B1B8C5;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: -10px;
    text-transform: uppercase;
}

/* --------------------------------------------Footer */

footer {
    /* background-color: #B1B8C5; */
    background-color: #373B4E;
    color: #B1B8C5;
}

.fb-icon {
    padding: 20px;
    font-size: 30px;
}



/* --------------------------------------------Banners */
.banner {
    background-color: #373B4E;
    margin-top: 20px;
    height: 150px;
    margin-bottom: 30px;
}

.banner-heading {
    color: #B1B8C5;
    font-weight: 100;
    padding: 20px;
}


/* --------------------------------------------Hero image and primary info */

.hero-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.hero-title {
    position:absolute;
    width: 90%;
    margin-top: 10px;

}

.primary-info-wrapper {
    background-color: white;
    box-shadow: 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    width: 90%;
    margin: 20px auto 10px;
}

.primary-info-wrapper h1 {
    text-transform: uppercase;
}

@media only screen and (max-width: 992px) {
    #hero-larger-screens {
        display: none;
    }
}

/* Overlap with hero image on larger screens */
@media only screen and (min-width: 992px) {
    .primary-info-wrapper{
        width: 800px;
      
    }

    #hero-smaller-screens {
        display: none;
    }
}


/* --------------------------------------------Home page services*/
.services-wrapper { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    margin: 10px auto 10px;
}

.services-intro {
    max-width: 450px;
    margin: 20px auto 0;
    font-weight: 500;
}

.services-info {
border: solid;
border-color: rgba(126, 18, 18, 1);
background-color: white;
border-width: 6px;
width: 400px;
/* To ensure the image still looks good on even the smallest phones */
min-width: 300px;
margin: 2px;
}

.services-image {
height:380px;
width:400px;
/* To ensure the image still looks good on even the smallest phones */
min-height:300px;
min-width:300px;
background-image: url(../images/electric-guitar.jpeg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
overflow: hidden;
border-radius: 2%;
margin: 2px;
}

/* --------------------------------------------Home page testimonials*/
.quote {
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px auto;
    box-shadow: none;
    color: #122452;
    background-color: #8fa7e3;
    width: 400px;
    text-align: center;

}

.quote-wrapper {
    max-width: 850px;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.testimonials figcaption {
    color: #122452;
}



/* --------------------------------------------Contact page */  
.contact-box-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
}
.contact-boxes {
    margin: 5px;
    max-width: 270px;
    min-width: 270px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border:solid;
    border-color:  #B1B8C5;   
}

.contact-boxes i {
    font-size: 30px;
    margin-top:10px;
}
.contact-boxes p {
    font-size: 18px;
    margin-top:10px;
}

.contact-boxes a {
    color: black;
}

 /* --------------------------------------------Contact page form*/   
 input[type=text],
 input[type=email] {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    /* This includes the padding and border in the total size of the box */
    box-sizing: border-box;
    display: "block";
 }

 input[type=textarea] {
    max-width: 768px;
    height: 200px;
    padding: 12px 20px;
    margin: 8px 8px;
 }

 .form-wrapper {
    margin: 10px;
    padding: 30px;
    max-width: 768px;
    margin: 0 auto;
    box-shadow: 0 0 10px;
 }


.checkbox {
    margin-right: 10px;
}

.form-button {
    max-width: 236px;
    margin: 0 auto;
}

 /* --------------------------------------------Services page table*/   

table {

margin-left: auto;
margin-right: auto;
margin-top: 0;
}

th, td {
    border-bottom: 1px solid;
    padding: 20px;
  }

  tr:hover {
    background-color: rgba(126, 18, 18, 1);
    color: white;
}

  .table-wrapper {
    border:solid;
    border-color:  #B1B8C5;   
    max-width: 400px;
    padding: 10PX;
    margin-top: 40px;
    margin-bottom: 40px;  
  }

  #services-banner {
    background-image: url(/assets/images/services_banner.jpeg);
    background-repeat: none;
    background-size: cover;
    height: 200px;
  }

#fix-vid {
 width: 90%;
 max-width: 820px;
 border: solid rgba(126, 18, 18, 1);
 border-radius: 10px;
}
/* 
@media only screen and (min-width: 1033px) {
    #fix-vid {
    width: 820px;
} */


#fix-vid-wrapper {
    display: flex;
    justify-content: center;
}
